img {
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
    display: block;
}



.column {
    flex: 33.33%;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background-color: pink;
    text-align: center;
}

.container {
    display: flex;
}

footer ul {
    list-style: none;
}

@media (max-width: 800px) {
    .body { 
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
}
